
.header{
    /* background-color: red; */
    height: 70px;
}

.sidebarul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    /* background-color: aqua; */
    background-color: lightblue;
 
 
  }

  .sidebar-items{
      background-color: rgb(145, 208, 230);
      margin-top: 20px;
      padding-left: 20px;
      font-size: 25px; 
      font-weight: 500;


  }